.gmail {
    margin: 50px 0;
    padding: 7vh 0;
    text-align: center;
}

.content_form {
    margin-top: 20px;
    width: 100%;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form h2 {
    color: var(--color8);
}

.form input, .form
textarea {
    width: 400px;
    padding: 10px;
}

.form button {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: var(--color8);
    border: none;
    cursor: pointer;
    font-size: 15px;

}

.form button:before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    background-color: rgb(161, 255, 89);
    transition: .5s;

}

.form button:hover:before {
    width: 100%;
}

@media (max-width: 450px) {
    .content_form{
        padding:15px;

    }
    .form{
        width: 100%;
        input,
        textarea,button{
            width: 100%;
        }
    }
   
}

