.gmail {
    margin: 50px 0;

    background-color: var(--color7);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_form {
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    padding: 30px;
    /* background-color: aliceblue; */
    background: var(--gradiente);

}
.form h2 {
    color: var(--color8);
}

.form input, .form
textarea {
    width: 400px;
    padding: 10px;
    border: none;
    /* background-color: var(--color7); */
}

.form button {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: var(--color8);
    border: none;
    cursor: pointer;
    font-size: 15px;

}

.form button:hover:before {
    width: 100%;
}

@media (max-width: 450px) {
    .content_form{
        padding:15px;

    }
    .form{
        width: 100%;
        input,
        textarea,button{
            width: 100%;
        }
    }
   
}

